# Node
node_modules/

# Build
dist/
coverage/

# Environment
.env
.env.*

# Logs
*.log
logs/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Prisma
backend/prisma/dev.db

# Java (nếu sau này có)
target/